.gradient{
    background: rgb(61,147,120);
    background: linear-gradient(0deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 100%);
}
.gradient-NavBar{
    background: rgb(61,147,120);
    background: linear-gradient(180deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 82%, rgba(31,103,79,1) 100%);
}
.gradient-text{
    color: rgb(61,147,120);
    color: linear-gradient(180deg, rgba(61,147,120,1) 0%, rgba(33,106,82,1) 88%, rgba(31,103,79,1) 100%);
}

.gradient-Login{
    background: rgb(61,147,120);
    background: linear-gradient(208deg, rgba(61,147,120,1) 37%, rgba(31,103,79,1) 99%, rgba(31,103,79,1) 100%);
}