.card-img-news-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-img-deps-top {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-img-popServ-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-News{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 10px 10px;
}

.card-Deps{
    width: 100%;
    height: 100%;

}

.card-Popular-Services{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 100%);
}

.card-Partners{
    background-color: white;
    border-color: #3D9378;
    border-width: 2px;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}

.card-img-partners-top{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.card-Popular-Services:hover{
    box-shadow: 0px 4px 20px rgba( 0, 0, 0, 25%);
}

.card-Gallery{
    border: none;
    width: 100%;
    height: 100%;
}

.card-Docs{
    background: rgb(61,147,120);
    background: linear-gradient(0deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 100%);
    flex-direction: row;
    min-height: 80%;
    min-width: 100%;
}

.card-Administration{
    background: rgb(61,147,120);
    background: linear-gradient(0deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 100%);
    height: 100%;
    width: 100%;
    border-radius: 13px 13px;
}

.card-img-admins-top{
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.card-HallOfFame{
    background: rgb(61,147,120);
    background: linear-gradient(0deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 100%);
    height: 100%;
    width: 100%;
    border-radius: 13px 13px;
}


.card-img-hof-top {
    object-fit: cover;
    width: 100%;
    height: 220px;
    
}

.div-Card{
    height: 1px;
    opacity: 10%;
    max-width: 100%;
    background-color: black;
}

.div-Card-2{
    height: 1px;
    width: 99%;
    background-color: #00FFAF;
}

.div-Card-Administration{
    height: 0.5px;
    min-width: 99%;
    opacity: 50%;
    background-color: #00FFAF;
}


.button{
    background: rgb(61,147,120);
    background: linear-gradient(0deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 100%);
    border-radius: 100px 100px 100px 100px !important;
    border-color: #3D9378;
}

.button:hover{
    background-color: white !important;
    color: #3D9378 !important;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 15%);
}

.button-2{
    background-color: white !important;
    border-radius: 100px 100px 100px 100px !important;
    border-color: #3D9378;
    color: #3D9378;
}

.button-2:hover{
    background-color: #00FFAF!important;
    color: #3D9378 !important;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 15%);
}

.button-3{
    background: rgb(61,147,120);
    background: linear-gradient(0deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 100%);
    border-radius: 100px 100px 100px 100px !important;
}

.button-3:hover{
    background: white !important;
    color: #3D9378 !important;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 15%);
}

.card-News:hover{
    box-shadow: 0px 4px 20px rgba( 0, 0, 0, 25%);
}

.pagination .page-item .page-link.next {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

.arrow {
    content: url(../assets/ArrowLeft.svg);
    background: linear-gradient(228deg, rgba(61,147,120,1) 0%, rgba(33,106,82,1) 72%, rgba(31,103,79,1) 100%);
    pointer-events: none !important;
    cursor: auto !important;
    background-color: #fff !important;
    border-color: #dee2e6 !important;
    border-radius: 50% !important;
    border-color: rgba( 0, 0, 0, 15%) !important;
  }
  .pagination .page-item .page-link.next {
    color: #007bff;
    background-color: #fff;
    border-color: #dee2e6;
  }

.humanitarian-Projects{
    cursor: pointer;
}

.sexological-Help{
    cursor: pointer;
}

.icons{
    cursor: pointer;
}

.helpline-Other{
    cursor: pointer;
}

.block-Standart{
    display: flex;
    justify-content: center;
    align-items: center;
}

  .footer{
    background: rgb(61,147,120);
    background: linear-gradient(180deg, rgba(61,147,120,1) 0%, rgba(31,103,79,1) 84%, rgba(31,103,79,1) 100%);
    width: 100vw;
    min-height: 385px;
    margin-top: 100px;
}

.line-Footer{
    display: flex;
    height: 1px;
    background-color: white;
    max-width: 95%;
    opacity: 60%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}

.icon-Container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
